<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.mnrty.com.imdbsqlite" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:icon="@drawable/imdb"
        android:label="IMDb SQLite"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".utama"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:icon="@drawable/imdb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".updateActivity"
            android:label="@string/title_activity_update" >
        </activity>
    </application>

</manifest>
